@model List<HospitalGame.Models.MEJORES>
 
<div style="text-align:center">
    <h1 style="align-content:center">RANKING</h1>
</div>
@if (Model != null)
{
    <table class="table">
        <tr>
            <th>NOMBRE</th>
            <th>PUNTOS</th>
        </tr>

        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Nombre</td>
                <td>@user.Puntos</td>
            </tr>
        }


    </table>
}
